html {
  font-size: 16px;
}

:root {
  --black: #111517;
  --white: #fff;
  --background: #fafafa
}

body {
  background-color: var(--background);
  font-family: 'Nunito Sans', sans-serif;
}

main {
  color: var(--black);
  background: var(--background);
  min-height: 100vh;
}

.is-dark-mode {
  --black: #fff;
  --white: #273542;
  --background: #1a2833;
}

.is-light-mode {
  --black: #111517;
  --white: #fff;
  --background: #fafafa;
}

@media (prefer-color-scheme: dark) {
  :root {
    --black: #fff;
    --white: #273542;
    --background: #1a2833;
  }
}
